html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #B3BDCB;
}

body {
  width: 1024px;
  margin: 0 auto;
  background-color: #EFD999;
  padding: 0 40px 40px 40px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
  text-shadow: 1px 1px 3px black;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: black;
}


p, li {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}
